version: "3.9"

services:
  api:
    build:
      context: ..
      dockerfile: docker/api/Dockerfile
    container_name: api
    restart: unless-stopped
    ports:
      - "3000:3000"

  web:
    build:
      context: ..
      dockerfile: docker/web/Dockerfile
    container_name: web
    depends_on:
      - api
    ports:
      - "8080:80"
